* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
}

nav {
  width: 100%;
  background-color: #8565cf;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.links {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  display: flex;
  color: black;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.selected {
  font-weight: bold;
}

.links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  margin: 50px 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.card {
  margin-bottom: 10px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 30px 30px 60px #bebebe, -30px -30px 60px #ffffff;
}

.card h3 {
  font-style: italic;
}

.card button {
  background: none;
  border: none;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

form label {
  display: block;
  padding: 10px;
  padding-left: 0;
  font-weight: bold;
}

form input {
  display: block;
  padding: 10px 5px;
  width: 30%;
}

button {
  background-color: #ae17dc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid black;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.reviews h2 {
  padding: 20px 0;
}

.review-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.review-card:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.date {
  color: #888;
}

.review-content {
  font-size: 16px;
}

#create-review {
  display: none;
}

#create-review.logged {
  display: block;
  padding: 10px 20px;
}

.review-card textarea {
  padding: 5px;
  width: 100%;
  resize: vertical;
}

#form-btn-container {
  display: flex;
  justify-content: flex-end;
}

#search-form {
  width: 30%;
}

#search-form input {
  width: 100%;
}

.tipo-selection {
  padding: 10px 0;
  margin-top: 10px;
  width: 30%;
}

#type-form .tipo-selection {
  width: auto;
  margin-left: 50px;
}

.tipo-selection legend {
  font-weight: bold;
}

.tipo-selection input {
  display: inline;
  width: 50px;
  padding: 20px;
}

.tipo-selection label {
  display: inline;
  font-weight: 400;
}

.locales {
  margin-top: 20px;
}

.forms-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
